.flex{
  display: flex;
}

.flex-all{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-sb{
  display: flex;
  justify-content: space-between;
}

.flex-j-c{
  display: flex;
  justify-content: center;
}

.flex-a-c{
  display: flex;
  align-items: center;
}

.flex-w-w{
  display: flex;
  flex-wrap: wrap;
}


.nav-container{
  width: 1383px;
  max-width: 100%;
  margin: 0 auto;
}

.container{
  width: 1110px;
  max-width: 100%;
  margin: 0 auto;
}

.nav-a{
  font-family: $font-family-Barlow-Condensed;
  font-weight: $font-weight-regular;
  font-size: $nav-a-font-size;
  line-height: $text-line-height-19;
  color: $white-color;
}

.nav-a{
  opacity: .7;
  transition: .5s;
}

.nav-a:hover{
  border-bottom: 2px solid $white-color;
  padding-bottom: 35px;
  width: 30%;
  transition: 1s;
  opacity: .7;
}

.nav-a:active{
  border-bottom: 2px solid $white-color;
  padding-bottom: 35px;
  width: 30%;
  transition: .5s;
  opacity: 1;
}

.travel--button p{
  transition: .5s;
}

.travel--button p:hover{
  transition: .5s;
  -webkit-box-shadow: 4px 4px 0px 94px rgba(246, 250, 253, 0.2);
  -moz-box-shadow: 4px 4px 0px 94px rgba(246, 250, 253, 0.2);
  box-shadow: 4px 4px 0px 94px rgba(246, 250, 253, 0.2);
}