// ~~~~~~~~~~~~~~~~~~~~~~~~font-ssize~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$text-subTitle:18px;
$nav-a-font-size:16px;
$home-h1-size:150px;
$home-h4-size:28px;
$text-font-size-32:32px;
$text-font-size-100:100px;
$text-h4-size:20px;
$font-sixe-14:14px;

// ~~~~~~~~~~~~~~~~~~~~`line-height~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
$text-line-height:32px;
$text-line-height-37:37px;
$text-line-height-34:34px;
$text-line-height-19:19px;
$text-line-heigh-17:17px;