// ~~~~~~~~~~~~~~~~~~~font-family~~~~~~~~~~~~~~~~~~~~~
$font-family-Barlow-Condensed:'Barlow Condensed';
$font-family-Bellefair: 'Bellefair';
$font-family-Barlow: 'Barlow';

// ~~~~~~~~~~~~~~~~~~~~~~font-weight~~~~~~~~~~~~~~~~~~~~~
$font-weight-regular:400;
$font-weight-bold:700;
